<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caruta.kn.mapper.DemoMapper">

  <select id="demo2" resultMap="Demo2Response">
    select
      name,
      address
    from
      test_table
    where
      delete_flg = false
  </select>

  <resultMap id="Demo2Response" type="com.caruta.kn.model.Demo2Response" autoMapping="true" />

</mapper>