<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caruta.kn.mapper.GetAssociationIdFromNameMapper">

  <select id="getAssociationId" resultType="int">
    SELECT association_id
    FROM association_table
    WHERE
      association_name = #{associationName}
  </select>

</mapper>