<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caruta.kn.mapper.GetPlayerIdFromPlayerInfoMapper">

  <select id="getPlayerId" resultType="int">
    SELECT player_id
    FROM player_table
    WHERE
      last_name = #{lastName}
      AND first_name = #{firstName}
      AND phone_number = #{telephoneNumber}
  </select>

</mapper>